<!doctype html>
<html lang="en" ng-app="newApp">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="libs/angular.min.js"></script>
     <script src="libs/testing.js"></script>
</head>
<body>
This is a test - it is working.
<div ng-controller="newCtrl">
    <input ng-model="display">

        <ul>
            <li ng-repeat="phone in phones">
                {{phone.name}}<br>
                {{phone.snippet}}<br>
                {{phone.age}}
            </li>
        </ul>

<!--    <ul>
        <li ng-repeat="phone in phones">
            {{phone.name}}
            <p>{{phone.snippet}}</p>
        </li>
    </ul>-->
</div>

</body>
</html>