<!doctype html>
<html lang="en" ng-app="newApp">
<head>
    <meta charset="UTF-8">
    <title>Document</title>


     <link href="css/main.css" type="text/css" rel="stylesheet" />
     <style>
         #canvas{
             background-color: #fff;
         }
     </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
</head>
<body>
<h3>This is a test - it is working.</h3>
<div ng-controller="newCtrl">
    <input ng-model="display">

        <ul>
            <li ng-repeat="phone in phones">
                {{phone.name}}<br>
                {{phone.snippet}}<br>
                {{phone.age}}
            </li>
        </ul>

<!--<img id="dot" src="images/dot.png" style="display: none">-->
<form ng-submit="drawLine()">
<input id ="x1" type="number"> <input id="y1" type="number">
<input id ="x2" type="number"> <input id="y2" type="number">
    <input type="submit">

</form>
<canvas id="canvas" width="500px" height="400px"></canvas>

    <script src="libs/testing.js"></script>

</div>
</body>
</html>